# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# providers
/functions
/api
.wrangler
vercel.json

# dependencies
/node_modules

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# locks
yarn.lock

# typescript
/dist*
*.tsbuildinfo

/src/client/local
#/src/server

.vercel
