.button {
  display: flex;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;

  font-weight: 400;
  font-size: 14px;
  text-decoration: none;

  border: 0px;
  margin: 0px;
  padding: 0px 7px;

  align-items: center;
  justify-content: center;

  -webkit-tap-highlight-color: transparent;

  transition: all 0.15s;

  &:hover:enabled {
    background-color: #181c20;
  }

  &:active:enabled {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.25;
  }
}
