.container {
  display: flex;
  position: absolute;
  max-width: 280px;
  max-height: calc(100% - 70px);
  width: 100%;
  top: 10px;
  right: 10px;
  padding: 0px;
  box-sizing: border-box;

  > div > div:first-child {
    > i {
      display: none;
    }

    > div {
      padding: 0px;
      color: #ffffff;
      font-size: 13px;
      user-select: none;
    }
  }

  > div > div:last-child {
    height: auto !important;
    max-height: calc(100% - 35px);

    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 999px;
      background-color: #5b5b5b;
    }

    &::-webkit-scrollbar-thumb {
      background: #8c92a4;
      border-radius: 999px;
    }
  }
}
